h1 , h2 , h3 , h4{
    font-family: 'Roboto Condensed';
    color: #000000;
    line-height: 1.17;
}

h1 {
    font-weight: 400;
    .adaptiveValue(font-size, 26, 36, 320, 768);

    @media (min-width:@tablet){
        .adaptiveValue(font-size, 36, 44, 768, 950);
    }
}

h2 {
    font-weight: 400;
    .adaptiveValue(font-size, 20, 30, 320, 768);

    @media (min-width:@tablet){
        .adaptiveValue(font-size, 30, 37, 768, 950);
    }
}
h3 {
    font-weight: 700;
    .adaptiveValue(font-size, 18, 22, 320, 768);

    @media (min-width:@tablet){
        .adaptiveValue(font-size, 22, 27, 768, 950);
    }
}

h4 {
    font-weight: 700;
    .adaptiveValue(font-size, 16, 19, 320, 768);

    @media (min-width:@tablet){
        .adaptiveValue(font-size, 19, 22, 768, 950);
    }
}

.text .text-large {
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: #000000
}

.text-large {
    line-height: 1.25;
    .adaptiveValue(font-size, 16, 20, 320, 950);
}

.text {
    line-height: 1.42;
    .adaptiveValue(font-size, 14, 20, 320, 950);
}